<div class="content-box round-result-layout">
  <p class="game-controls-text message">{{ message() }}</p>
  <button
    class="content-button new-round"
    [disabled]="guessing()"
    (click)="startNewRound()"
  >
    New Round
  </button>
  <div class="score-display">
    <p class="game-controls-text caught">Caught: {{ score() }}</p>
    <p class="game-controls-text caught">Highscore: {{ highScore() }}</p>
  </div>
</div>
<div class="content-box gen-box">
  <div>
    @for(generation of generations; track generation) {
    <button
      class="content-button gen-select"
      [class.selected]="generation === activeGeneration()"
      [disabled]="guessing()"
      (click)="selectGeneration(generation)"
    >
      {{ getGenerationText(generation) }}
    </button>
    }
  </div>
</div>
