.game-controls-text {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-variant-caps: all-small-caps;

    &.message {
        margin-left: 15px;
        min-width: 300px;
    }

    &.caught {
        margin-right: 15px;
        min-width: 110px;
    }
}

.score-display {
    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    display: flex;
    flex-direction: column;
}
