<div class="container">
  <img class="title-display" src="whosthattitle.png" />
  <div class="center-split">
    <div style="padding: 50px">
      <img
        [src]="
          correctPokemon?.sprites?.other['official-artwork']?.front_default
        "
        [alt]="correctPokemon?.name"
        class="pokemon-display"
        [class.blacked-out-display]="imageHidden"
      />
    </div>
    <div>
      <app-choice
        [options]="options"
        (optionSelected)="handleOptionSelected($event)"
      ></app-choice>
    </div>
  </div>
</div>
