.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-split {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pokemon-display {
    width:400px;
    height:400px;

    &.blacked-out-display {
        filter: brightness(0);
    }
}

.title-display {
    min-width:400px;
    width:26vw;
    min-height:200px;
    height:30vh;
}

.game-area {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.round-end-text {
    margin-left: 15px;
    font-family: 'Arial';
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-variant-caps: all-small-caps;
}
