:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemon-display {
    width:400px;
    height:400px;

    margin-right: 40px;

    &.blacked-out-display {
        filter: brightness(0);
    }

    &.not-loaded {
        opacity: 0;
    }
}

.title-display {
    min-width:400px;
    width:26vw;
    min-height:200px;
    height:30vh;
}
